html, body { 
	height: 100%; 
	font-family: 'Ubuntu', sans-serif; 
} 

.mynav { 
	color: #fff; 
} 

.mynav li a { 
	color: #fff; 
	text-decoration: none; 
	width: 100%; 
	display: block; 
	border-radius: 5px; 
	padding: 8px 5px; 
} 

.mynav li a.active { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a:hover { 
	background: rgba(255, 255, 255, 0.2); 
} 

.mynav li a i { 
	width: 25px; 
	text-align: center; 
} 

#bdSidebar{
    max-width: 60%;
}

.user-avatar {
    width: 40px;
    height: 40px;
   border-radius: 50%;

}

.notifications {
    position: relative; 
  }
  
  /* .notifications img {
    display: inline-block;
    vertical-align: middle;
    width: 25px; 
    height: auto; 
  } */

.dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
      top: 0; 
      right: 0; 
      z-index: 1; 
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count:infinite;
  }
  
  @keyframes fade {
    50%{opacity: 0;}
  }

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

@media(max-width: 767px){
  .idk{
    bottom: 48px;
    margin-right: 9px;
  }
  .idk2{
    height: 0.1px;
    padding: 0 !important;
  }
}

@media(max-width: 400px){
  #bdSidebar{
    max-width: 70%;
}
}

.status-dot {
  display: inline-block; 
  height: 18px;
  width: 18px;
  background-color: #bbb;
  border-radius: 50%;
  vertical-align: middle; 
}

.status-dot-active {
  background-color: #4ecf1b;
}

.table-responsive {
  max-height: 600px;
  overflow-y: auto;
}

.table-responsive thead th { 
  position: sticky; 
  top: 0px; 
  z-index: 1; 
}

@media(max-height: 750px){
  .table-responsive {
    max-height: 450px;
  }
}

#chat-container{
  height: 80vh;
}

#members{
  height: 35px;
}

.messages-width {
  max-width: 80%;
}

.messages-break {
  word-break: break-word;
}

.unread{
  height: 16px;
  width: 16px;
}